<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>G08_sobaya</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>controller.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleItemServlet</servlet-name>
    <servlet-class>controller.SingleItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleItemServlet</servlet-name>
    <url-pattern>/SingleItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TabletNumberServlet</servlet-name>
    <servlet-class>controller.TabletNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TabletNumberServlet</servlet-name>
    <url-pattern>/TabletNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomServlet</servlet-name>
    <servlet-class>controller.WelcomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomServlet</servlet-name>
    <url-pattern>/WelcomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NumberCustomersServlet</servlet-name>
    <servlet-class>controller.NumberCustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberCustomersServlet</servlet-name>
    <url-pattern>/NumberCustomersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderConfirmedServlet</servlet-name>
    <servlet-class>controller.OrderConfirmedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirmedServlet</servlet-name>
    <url-pattern>/OrderConfirmedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThankyouServlet</servlet-name>
    <servlet-class>controller.ThankyouServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThankyouServlet</servlet-name>
    <url-pattern>/ThankyouServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuManagementServlet</servlet-name>
    <servlet-class>controller.MenuManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuManagementServlet</servlet-name>
    <url-pattern>/MenuManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>controller.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <servlet-class>controller.OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <url-pattern>/OrderHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KitchenHallServlet</servlet-name>
    <servlet-class>controller.KitchenHallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenHallServlet</servlet-name>
    <url-pattern>/KitchenHallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>controller.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TableBillServlet</servlet-name>
    <servlet-class>controller.TableBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableBillServlet</servlet-name>
    <url-pattern>/TableBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TableListServlet</servlet-name>
    <servlet-class>controller.TableListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableListServlet</servlet-name>
    <url-pattern>/TableListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreSalesServlet</display-name>
    <servlet-name>StoreSalesServlet</servlet-name>
    <servlet-class>controller.StoreSalesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreSalesServlet</servlet-name>
    <url-pattern>/StoreSalesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMenuServlet</display-name>
    <servlet-name>AdminMenuServlet</servlet-name>
    <servlet-class>controller.AdminMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMenuServlet</servlet-name>
    <url-pattern>/AdminMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegisterServlet</display-name>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <servlet-class>controller.AdminRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <url-pattern>/AdminRegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>