<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>controller.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <display-name>G08_sobaya</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SingleItemServlet</display-name>
    <servlet-name>SingleItemServlet</servlet-name>
    <servlet-class>controller.SingleItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleItemServlet</servlet-name>
    <url-pattern>/SingleItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TabletNumberServlet</display-name>
    <servlet-name>TabletNumberServlet</servlet-name>
    <servlet-class>controller.TabletNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TabletNumberServlet</servlet-name>
    <url-pattern>/TabletNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>welcomServlet</display-name>
    <servlet-name>welcomServlet</servlet-name>
    <servlet-class>controller.welcomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcomServlet</servlet-name>
    <url-pattern>/welcomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>categoryServlet</display-name>
    <servlet-name>categoryServlet</servlet-name>
    <servlet-class>controller.categoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categoryServlet</servlet-name>
    <url-pattern>/categoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NumberCustomersServlet</display-name>
    <servlet-name>NumberCustomersServlet</servlet-name>
    <servlet-class>controller.NumberCustomersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberCustomersServlet</servlet-name>
    <url-pattern>/NumberCustomersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderConfirmedServlet</display-name>
    <servlet-name>OrderConfirmedServlet</servlet-name>
    <servlet-class>controller.OrderConfirmedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirmedServlet</servlet-name>
    <url-pattern>/OrderConfirmedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThankyouServlet</display-name>
    <servlet-name>ThankyouServlet</servlet-name>
    <servlet-class>controller.ThankyouServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThankyouServlet</servlet-name>
    <url-pattern>/ThankyouServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuManagementServlet</display-name>
    <servlet-name>MenuManagementServlet</servlet-name>
    <servlet-class>controller.MenuManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuManagementServlet</servlet-name>
    <url-pattern>/MenuManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductServlet</display-name>
    <servlet-name>EditProductServlet</servlet-name>
    <servlet-class>controller.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductServlet</servlet-name>
    <url-pattern>/EditProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryServlet</display-name>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <servlet-class>controller.OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <url-pattern>/OrderHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenHallServlet</display-name>
    <servlet-name>KitchenHallServlet</servlet-name>
    <servlet-class>controller.KitchenHallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenHallServlet</servlet-name>
    <url-pattern>/KitchenHallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>controller.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
</web-app>